html, body {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	position: absolute;
	font-family: Helvetica, sans-serif;
}

textarea {
	width: 50%;
	height: 90%;
	border: none;
	resize: none;
	outline: 1px solid black;
	font-size: 25px;
}

button {
	width: 75%;
	height: 10%;
	border: none;
	font-size: 5vh;
	outline: 1px solid black;
	cursor: pointer;
}

.options {
	left: 75%;
	width: 25%;
	height: 10%;
	top: 90%;
	background-color: white;
	outline: 1px solid black;
	font-size: 2.5vh;
}

.options > div > * {
	position: relative;
}

.output {
	left: 50%;
}

.convert {
	top: 90%;
}